@model IEnumerable<Proyecto_Gimnasio.Models.Person>
@{
    ViewData["Title"] = "Customers and their plans";
}
<link rel="stylesheet" href="~/css/SaleProduct.css" />
<h2>Customers and their plans</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Purchased Plans</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Name @person.LasName</td>
                <td>
                    @if (person.Sales != null && person.Sales.Any())
                    {
                        <ul>
                            @foreach (var sale in person.Sales)
                            {
                                @foreach (var detail in sale.saleDetailsPlans)
                                {
                                    <li>@detail.Plans.NamePlan</li>
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No plans</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>