
:root {
    --amarillo-neon: #FFD500;
    --azul: #00509D;
    --negro: #121212;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: var(--negro);
    color: #fff;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* CLASES DE TEXTO funciones html */
.text-amarillo {
    color: var(--amarillo-neon);
}

.text-azul {
    color: var(--azul);
}

.text-dark {
    color: #fff;
    font-weight: bold;
}

/* 2. NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: #0a0a0a;
    border-bottom: 2px solid var(--azul);
}

.nav-links a {
    margin: 0 10px;
    transition: 0.3s;
}

    .nav-links a:hover {
        color: var(--amarillo-neon);
    }

/* 3. HERO (PORTADA) */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#000000b3, #000);
    padding: 20px;
}

    .hero h1 {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

/* 4. BOTÓN */
.btn-cta {
    display: inline-block;
    background: var(--amarillo-neon);
    color: #000;
    padding: 12px 30px;
    border-radius: 4px;
    font-weight: bold;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}

    .btn-cta:hover {
        transform: scale(1.05);
    }

/* 5. GRID Y TARJETAS */
.section-padding {
    padding: 60px 10%;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.card, .price-card {
    background: #1E1E1E;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #333;
    position: relative;
}

.card {
    border-bottom: 4px solid var(--azul);
}

.price-card.featured {
    border: 2px solid var(--amarillo-neon);
    background: #252525;
}

/* 6. DETALLES PRECIOS */
.price {
    font-size: 2.5rem;
    color: var(--azul);
    font-weight: bold;
    margin: 15px 0;
}

    .price span {
        font-size: 1rem;
        color: #888;
    }

.price-features {
    line-height: 2;
    color: #ccc;
}

/* 7. FOOTER Y MÓVIL */
footer {
    padding: 40px;
    border-top: 1px solid #333;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .hero h1 {
        font-size: 2rem;
    }
}
