/* --- 1. FONDO GENERAL Y TEXTO --- */

body {
    background: #121212;
    color: #eee;
    font-family: sans-serif;
}

/* --- 2. TÍTULO PRINCIPAL --- */

h1 {
    color: #FFD500;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
}

/* --- 3. ESTRUCTURA Y TARJETA --- */

.row {
    justify-content: center;
    margin-top: 20px;
}

.col-md-6 {
    background: #1E1E1E;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/* --- 4. CAMPOS DE TEXTO (INPUTS) --- */

.form-control {
    background: #121212;
    border: 1px solid #444;
    color: white;
    padding: 10px;
}

    
    .form-control:focus {
        background: #121212;
        color: white;
        border-color: #FFD500;
        box-shadow: none;
    }

/* --- 5. BOTÓN DE REGISTRO --- */

.btn-primary {
    background: #FFD500;
    color: #000;
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
}

    .btn-primary:hover {
        background: #e6c200;
    }

/* --- 6. ENLACES --- */

a {
    color: #FFD500;
    text-decoration: none;
}
