/* 1. FONDO Y TEXTO */
body {
    background: #121212;
    color: #eee;
    font-family: sans-serif;
}

h1 {
    color: #FFD500;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
}

/* 2. TARJETA CENTRADA */
.row {
    justify-content: center;
    margin-top: 20px;
}

.col-md-6 {
    background: #1E1E1E; /* Gris oscuro */
    padding: 40px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondos */
    border: 1px solid #333; /* Borde fino */
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); /* Sombra elegante */
}

/* 3. INPUTS (Cajas de texto) */
.form-control {
    background: #121212;
    border: 1px solid #444;
    color: white;
    padding: 10px;
}
    /* Al hacer clic en el input */
    .form-control:focus {
        background: #121212;
        color: white;
        border-color: #FFD500; /* Se ilumina amarillo */
        box-shadow: none;
    }

/* 4. BOTÓN Y ENLACES */
.btn-primary {
    background: #FFD500;
    color: #000;
    font-weight: bold;
    border: none;
    width: 100%; /* Botón ancho */
    padding: 12px;
    margin-top: 15px;
}

    .btn-primary:hover {
        background: #e6c200;
    }
/* Efecto al pasar mouse */

a {
    color: #FFD500;
    text-decoration: none;
}
