@{
    ViewData["Title"] = "Gym - Landing Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="/css/Register.css" />
</head>
<body>

    <nav class="navbar">
        <div class="logo">IRON<span class="text-amarillo">GYM</span></div>
        <a class="nav-link text-dark" asp-area="" asp-controller="Acceso" asp-action="Login">Login</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="UserRegister" asp-action="Create">Sing Out</a>
    </nav>


    <section class="hero">
        <h1>PUSH YOUR <span class="text-azul">LIMITS</span></h1>
        <p>High-performance training, free weights, and cardio. Open 24/7.</p>

        <a asp-controller="Acceso" asp-action="Login" class="btn-cta">START NOW</a>
    </section>

    <section class="services section-padding">
        <h2>Our <span class="text-amarillo">Advantages</span></h2>
        <div class="grid-3">
            <div class="card">
                <span style="font-size:2rem;">💪</span>
                <h3>Weight Zone</h3>
                <p>Full Olympic equipment.</p>
            </div>
            <div class="card">
                <span style="font-size:2rem;">⏱️</span>
                <h3>Open 24/7</h3>
                <p>Train whenever you want.</p>
            </div>
            <div class="card">
                <span style="font-size:2rem;">💃</span>
                <h3>Zumba</h3>
                <p>Classes full of energy and rhythm.</p>
            </div>
        </div>
    </section>

    <section class="pricing section-padding">
        <h2>Our Best <span class="text-azul">Products</span></h2>
        <div class="grid-3">
            <div class="card">
                <span style="font-size:3rem;">🥤</span>
                <h3>Whey Protein</h3>
                <p>Maximum muscle recovery after training.</p>
            </div>
            <div class="card">
                <span style="font-size:3rem;">⚡</span>
                <h3>Pre-Workout</h3>
                <p>Energy boost to push your limits.</p>
            </div>
            <div class="card">
                <span style="font-size:3rem;">👕</span>
                <h3>Gym Gear</h3>
                <p>Comfortable clothing for high performance.</p>
            </div>
        </div>
    </section>

    <footer>
        <h2>Ready for the change?</h2>
        <p>Visit us or contact us today.</p>
        <br>
        <p style="font-size: 0.8rem; opacity: 0.7;">&copy; 2025 IronGym.</p>
    </footer>

</body>
</html>