@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - Gimnasio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="bg-white d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="card shadow p-4" style="width: 350px; background-color: white; border-radius: 15px;">
        <div class="text-center mb-4">
            <h3>Bienvenido</h3>
            <p class="text-muted">Sistema Gimnasio</p>
        </div>

        <form asp-controller="Acceso" asp-action="Login" method="post">
            <div class="mb-3">
                <label class="form-label">Correo:</label>
                <input type="email" name="correo" class="form-control" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña:</label>
                <input type="password" name="clave" class="form-control" required />
            </div>

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger text-center p-2">
                    @ViewBag.Error
                </div>
            }

            <button type="submit" class="btn btn-dark w-100 mt-3">Ingresar</button>

            <button type="submit " class="btn  btn-dark  w-100 mt-3">Registrarse </button>
        </form>
    </div>

</body>
</html>