@model IEnumerable<Proyecto_Gimnasio.Models.Person>
@{
    ViewData["Title"] = "Customers and their purchased products";
}
<link rel="stylesheet" href="~/css/SaleProduct.css" />

<h2>Customers and their products</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Purchased Products</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Name @person.LasName</td>
                <td>
                    @if (person.SaleProducts != null && person.SaleProducts.Any())
                    {
                        <ul>
                            @foreach (var sale in person.SaleProducts)
                            {
                                @foreach (var detail in sale.saleDetailsProducts)
                                {
                                    <li>
                                        @detail.Product.NameProduct -
                                        @detail.TotalPrice.ToString("C")
                                    </li>
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No purchases</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>